.bodywrap{
    background-color: #f0f0f0;
}
.page-title{
    text-align: right;
    display: flex;
    margin: 16px 0 6px;
}

.page-title h1{
    display: inline-block;
    width: auto;
    font-weight: 600;
}
.page-title .cart-number-item{
    font-size: 16px;
    margin-left: 5px;
    font-weight: 600;
    line-height: 50px;
}

.cart-content{
    display: flex;
    padding: 0 15px 10px 15px;
}

.header-cart-item{
    display: flex;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 0;
}

.checkbox-all-book{
    flex-basis: 8%;
}

.header-cart-item > div{
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 8%;
}

.header-cart-item > div:nth-child(2){
    justify-content: flex-start;
    flex-basis: 68%;
}

.header-cart-item > div:nth-child(3){
    flex-basis: 13%;
}

.header-cart-item > div:nth-child(4){
    flex-basis: 21%;
}

input.checkbox-all-cart{
    height: 20px;
    width: 20px;
    border: 1px solid #545759;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

.input-number-product{
    display: block;
    width: 100%;
    min-height: 30px;
    font-size: 1em;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
    width: auto;
    float: left;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 2px;
}

.input-number-product .btn-num{
    font-size: 20px;
    line-height: 0px;
    border: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #007bff;
    float: left;
    color: #fff;
    text-align: center;
    padding: 0px;
    border-radius: 5px;
}

.input-number-product input{
    padding: 0 2px;
    text-align: center;
    margin: 0px;
    display: block;
    float: left;
    height: 22px;
    border: 0;
    width: 32px;
    text-align: center;
    box-shadow: none;
    border-radius: 8px;
    font-size: 15px;
}
.book-cart-left{
    background-color: #ffffff;
    border-radius: 8px;
}

.item-book-cart{
    background: white;
    display: flex;
    padding: 1.6em 0;
}

.item-book-cart .checkbox-book-cart{
    display: flex;
    flex-basis: 8%;
    justify-content: center;
    align-items: center;
}

input.checkbox-add-cart[type="checkbox"]{
    height: 20px;
    width: 20px;
    border: 1px solid #545759;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

.item-book-cart .img-book-cart{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 16%;
}

.item-book-cart .img-book-cart img{
    width: auto;
    max-height: 119px;
    object-fit: contain;
}

.group-book-info{
    flex-basis: 68%;
    display: flex;
}

.group-book-info .info-book-cart{
    flex-basis: 60%;
    padding-top: 15px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book-name-full{
    width: 100%;
    margin: 0;
    font-weight: normal;
    line-height: 18px;
    display: inline-block;
}

.book-name-full a{
    font-size: 20px;
    color: #333333;
    font-family: 'Nunito Sans' !important;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 6em;
    padding-top: 0px;
}

.price-original .cart-price .price{
    color: #333;
    font-weight: 650;
}

.group-book-info .number-book-cart{
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    margin: auto;  
}

.number-book-cart .cart-price-total {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 3;
}
.cart-price-total .cart-price .price{
    color: #C92127;
    font-weight: bold;
    font-size: 1.2em;
}

.item-book-cart .remove-cart{
    flex-basis: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-book{
    width: 100%;
    margin: auto;
    border-bottom-width: 5px;
    border-bottom-color: #ededed;
    border-bottom-style: solid;
}

.block-total-cart{
    background: white;
    border-radius: 8px;
}

.total-cart-page {
    display: flex;
    font-size: 1.2em;
    padding: 10px 16px;
}

.title-cart-page-left {
    flex-basis: 65%;
}

.number-cart-page-right {
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.total-cart-page .number-cart-page-right .price {
    font-size: 1em;
}
.button-cart {
    padding: 0 20px;
}
.button-cart .btn-checkout{
    width: 100%;
    margin: 0px 0px 10px 0px;
    border: none;
    background-color: #2F80ED;
    border-radius: 10px;
    height: 3rem;
}

.button-cart .btn-checkout span{
    font-size: 18px;
    border-radius: 8px;
    color: white !important;
}


