.edit_product{
    display: flex;
    justify-content: center;
}
.edit_product {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 32px);
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group button {
    display: inline-block;
    margin-top: 10px;
}

textarea {
    height: 100px;
    resize: vertical;
}

.btn {
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.add-new {
    display: inline-flex;
    align-items: center;
}

.form-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.form-popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-btn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: red;
}

.mess.hidden {
    display: none;
}



.dot-spinner {
    --uib-size: 5.8rem;
    --uib-speed: .9s;
    --uib-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    height: 4.8rem;
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

#opacity {
    display: none;
}

#opacity.hidden {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    display: block !important;
}

#loading_update.hidden {
    display: none;
}

.title-pay {
    background: #fff;
    width: 20%;
    position: fixed;
    top: 20% !important;
    left: 45%;
    z-index: 99999;
    height: 40%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.form-popup-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
}

.form-popup-content-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.close-btn-2 {
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    color: #aaa;
}