.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}
#gltfFile{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.input-group input[type="file"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.progress {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

.button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.message {
    margin-top: 15px;
    font-weight: bold;
}

#CheckModel.hidden {
    display: none;
}